---
layout: page
title: ""
description: "Rincón de lectura"
---
<div class="book-list">
{% for book in site.data.books %}
{% if book.highlight %}
{% if book.onpage %}
{% if book.completed != 'pause' %}

    <h2 class="year">
      <a alt="{{ book.description }}" class="book-title" href="{{ book.link }}">
        <span class="book-title">{{ book.title }}</span>
      </a><br/>
    <span class="book-author">{{ book.author}}</span>
    {% if book.link %}
      <a href="{{ book.link }}">→</a>
    {% endif %}
    </h2>

    {% if book.onpage %}
    {% assign progress = book.onpage | times: 1.0 | divided_by:book.pages | times:100 | round: 0 | append: '%' %}
    <div class="w3-light-grey w3-round w3-small w3-center w3-border readprogress">
      <div class="w3-container w3-round w3-blue" style="width: {{ progress }}">{{ progress }}</div>
    </div>
    {% endif %}
    {% if book.synopsis %}
    {% if book.cover %}
      <a href="{{ book.link }}"><img src="assets/images/books/{{book.cover}}" class="book-cover"/></a>
    {% endif %}
    <p class="book-synopsis">&laquo;{{ book.synopsis }}&raquo;</p>
    {% endif %}
    <hr/>
{% endif %}
{% endif %}
{% endif %}

{% endfor %}
</div>

<div class="w-100">

<h2 class="year">★★★★★</h2>
<ol class="book-list">
{% for book in site.data.books %}
{% if book.fav == 'yes' %}
      <li>
        <a alt="{{ book.description }}" class="book-title" href="{{ book.link }}"><i>{{ book.title }}</i></a> de {{ book.author}}
      </li>
{% endif %}
{% endfor %}
</ol>
</div>


<div class="w-100">

<!--<h2 class="year">2022</h2>-->
<ol class="book-list">
{% for book in site.data.books %}
{% if book.completed == '2025' %}
      <li>
        {% if book.rating %}
        <span class="star-rating">
        {% for y in (1..book.rating) %}
        ★
        {% endfor %}
        {% for z in (book.rating..4) %}
        ☆
        {% endfor %}
        &nbsp;
        </span>
        {% endif %}
        <a alt="{{ book.description }}" class="book-title" href="{{ book.link }}"><i>{{ book.title }}</i></a> de {{ book.author}}
        {% if book.onpage %}
        {% assign progress = book.onpage | divided_by:book.pages | times:100 | round: 0 | append: '%' %}
          <span>{{ progress }}</span>
        {% endif %}      
      </li>
{% endif %}
{% endfor %}
</ol>
</div>

<hr/>

<div class="w-100">

<h2 class="year">Últimas lecturas</h2>

{% assign y_start = 2023 %}
{% assign y_end = 2017 %}

{% assign years = y_start | minus: y_end %}
{% for n in (0..years) %}
{% assign ty = y_start | minus: n %}
<!--<h2 class="year">···</h2>-->
<ol class="book-list">
{% for book in site.data.books %}
{% if book.completed == ty %}
      <li>
        {% if book.rating %}
        <span class="star-rating">
        {% for y in (1..book.rating) %}
        ★
        {% endfor %}
        {% for z in (book.rating..4) %}
        ☆
        {% endfor %}
        &nbsp;
        </span>
        {% endif %}
        {% if book.onpage %}
        {% assign progress = book.onpage | times: 1.0 | divided_by:book.pages | times:100 | round: 0 | append: '%' %}
        <div class="tooltip">
          <span class="logid">📖</span>
          <span class="tooltiptext">{{progress}}</span>
        </div>
        {% endif %}
        <a alt="{{ book.description }}" class="book-title" href="{{ book.link }}"><i>{{ book.title }}</i></a> de {{ book.author}}
      
      </li>
{% endif %}
{% endfor %}
</ol>
{% if ty != 2022 %}
<hr/>
{% endif %}
{% endfor %}

</div>
