---
layout: page
title: ""
description: "Rincón de lectura"
---
<div class="book-list">
{% for book in site.data.books %}
{% if book.completed == 'reading' %}
    <h2 class="year">
      <a alt="{{ book.description }}" class="book-title" href="{{ book.link }}">
        <span class="book-title">«{{ book.title }}»</span>
      </a><br/>
    <span class="book-author">{{ book.author}}</span>
    {% if book.link %}
      <a href="{{ book.link }}">→</a>
    {% endif %}
    </h2>

    {% if book.progress %}
    <div class="w3-light-grey w3-round w3-small w3-center w3-border readprogress">
      <div class="w3-container w3-round w3-blue" style="width: {{ book.progress }}">{{ book.progress }}</div>
    </div>
    {% endif %}
    {% if book.synopsis %}
    {% if book.cover %}
      <a href="{{ book.link }}"><img src="assets/images/books/{{book.cover}}" class="book-cover"/></a>
    {% endif %}
    <p class="book-synopsis">&laquo;{{ book.synopsis }}&raquo;</p>
    {% endif %}
    <hr/>
{% endif %}
{% endfor %}
</div>

<div class="w-100">

<h2 class="year">★★★★★</h2>
<ol class="book-list">
{% for book in site.data.books %}
{% if book.fav == 'yes' %}
      <li>
        <a alt="{{ book.description }}" class="book-title" href="{{ book.link }}"><i>{{ book.title }}</i></a> de {{ book.author}}
      </li>
{% endif %}
{% endfor %}
</ol>
</div>


<div class="w-100">

<!--<h2 class="year">2022</h2>-->
<ol class="book-list">
{% for book in site.data.books %}
{% if book.completed == '2023' %}
      <li>
        {% if book.rating %}
        <span class="star-rating">
        {% for y in (1..book.rating) %}
        ★
        {% endfor %}
        {% for z in (book.rating..4) %}
        ☆
        {% endfor %}
        &nbsp;
        </span>
        {% endif %}
        <a alt="{{ book.description }}" class="book-title" href="{{ book.link }}"><i>{{ book.title }}</i></a> de {{ book.author}}
      </li>
{% endif %}
{% endfor %}
</ol>
</div>

<div class="w-100">

<h2 class="year">Últimas lecturas</h2>

{% assign y_start = 2021 %}
{% assign y_end = 2017 %}

{% assign years = {{y_start}} | minus: {{y_end}} %}
{% for n in (0..{{years}}) %}
{% assign ty = y_start | minus: {{n}} %}
<!--<h2 class="year">···</h2>-->
<ol class="book-list">
{% for book in site.data.books %}
{% if book.completed == ty %}
      <li>
        {% if book.rating %}
        <span class="star-rating">
        {% for y in (1..book.rating) %}
        ★
        {% endfor %}
        {% for z in (book.rating..4) %}
        ☆
        {% endfor %}
        &nbsp;
        </span>
        {% endif %}
        <a alt="{{ book.description }}" class="book-title" href="{{ book.link }}"><i>{{ book.title }}</i></a> de {{ book.author}}
      </li>
{% endif %}
{% endfor %}
</ol>
{% endfor %}

</div>
