---
layout: page
title: ""
description: "Hábitos"
---
{% assign i = 1 %}

{% assign sum_slp = 0 %}
{% assign sum_read = 0 %}
{% assign sum_chess = 0 %}
{% assign sum_uni = 0 %}
{% assign sum_scr = 0 %}
{% assign sum_walk = 0 %}
{% assign sum_write = 0 %}

<h1>Hábitos</h1>
<div>
<table class="habits">
  <thead>
    <tr>
    <th>DAY</th>
    <th>SLP</th>
    <th>RIS</th>
    <th>WLK</th>

    <th>REA</th>
    <th>CHS</th>
    
    <th>GRO</th>
    <th>DEC</th>
    <th>LNG</th>
    <th>SCR</th>
    <th>GTD</th>
    <th>WRT</th>
    <th>CLT</th>
    <th>JRN</th>
    <th>FAM</th>
    <th>UNI</th>
    </tr>
  </thead>
{% for habits in site.data.habits %}
<tr>
    <td>
      <div class="tooltip">{{i}}
        <span class="tooltiptext">{{habits.date}}</span>
      </div>
    </td>

    {% include_relative habits_health.html %}

    <!-- READ -->
    <td>
      {% if habits.read == 'X'  %} ❌
      {% elsif habits.read < 0.5 %}
      <div class="tooltip">⭕️
        <span class="tooltiptext">{{habits.read}}</span>
      </div>
      {% else %}
      <div class="tooltip">✅
        <span class="tooltiptext">{{habits.read}}</span>
      </div>
      {% endif %}
    </td>
    <!-- CHESS -->
    <td>
      {% if habits.chess == 'X'  %} ❌
      {% elsif habits.chess == 0 %} ⭕️
      {% else %}
      <div class="tooltip">✅
        <span class="tooltiptext">{{habits.chess}}</span>
      </div>
      {% endif %}
    </td>
    <!-- GET RID OF -->
    <td>
      {% if habits.getridof == 'X'  %} ❌
      {% elsif habits.getridof == 0 %} ⭕️
      {% else %}
      <div class="tooltip">✅
        <span class="tooltiptext">{{habits.getridof}}</span>
      </div>
      {% endif %}
    </td>
    <!-- DECLUTTER -->
    <td>
      {% if habits.declutter == 'X'  %} ❌
      {% elsif habits.declutter < 10 %}
      <div class="tooltip"> ⭕️
        <span class="tooltiptext">{{habits.declutter}}</span>
      </div>
      {% else %}
      <div class="tooltip"> ✅
        <span class="tooltiptext">{{habits.declutter}}</span>
      </div>
      {% endif %}
    </td>
    <!-- LANG -->
    <td>
      {% if habits.lang == 'X'  %} ❌
      {% elsif habits.lang < 0.5 %}
      <div class="tooltip"> ⭕️
        <span class="tooltiptext">{{habits.lang}}</span>
      </div>
      {% else %}
      <div class="tooltip"> ✅
        <span class="tooltiptext">{{habits.lang}}</span>
      </div>
      {% endif %}
    </td>

    <!-- Screen time -->
    <td>
      {% if habits.screentime == 'X'  %} ❌
      {% elsif habits.screentime > 2 %}
      <div class="tooltip"> ⭕️
        <span class="tooltiptext">{{habits.screentime}}</span>
      </div>
      {% else %}
      <div class="tooltip"> ✅
        <span class="tooltiptext">{{habits.screentime}}</span>
      </div>      {% endif %}
    </td>
    <!-- GTD -->
    <td>
      {% if habits.gtd == 'X'  %} ❌
      {% elsif habits.gtd == 'no' %}
      <div class="tooltip"> ⭕️
        <span class="tooltiptext">{{habits.gtd}}</span>
      </div>
      {% else %}
      <div class="tooltip"> ✅
        <span class="tooltiptext">{{habits.gtd}}</span>
      </div>
      {% endif %}</td>
      <!-- WRITE -->
    <td>
      {% if habits.write == 'X'  %} ❌
      {% elsif habits.write < 500 %}
      <div class="tooltip"> ⭕️
        <span class="tooltiptext">{{habits.write}}</span>
      </div>
      {% else %}
      <div class="tooltip"> ✅
        <span class="tooltiptext">{{habits.write}}</span>
      </div>
      {% endif %}
    </td>

    <td>{% if habits.clothes == 'X'  %} ❌ {% elsif habits.clothes == 'no' %} ⭕️ {% else %} ✅ {% endif %}</td>
    <td>{% if habits.journal == 'X'  %} ❌ {% elsif habits.journal == 'no' %} ⭕️ {% else %} ✅ {% endif %}</td>
    <td>{% if habits.family == 'X'  %} ❌ {% elsif habits.family == 'no' %} ⭕️ {% else %} ✅ {% endif %}</td>
    <!-- UNI -->
    <td>
      {% if habits.uni == 'X'  %} ❌
      {% elsif habits.uni < 0.5 %}
      <div class="tooltip"> ⭕️
        <span class="tooltiptext">{{habits.uni}}</span>
      </div>
      {% elsif habits.uni >= 0.5 %}
      <div class="tooltip"> ✅
        <span class="tooltiptext">{{habits.uni}}</span>
      </div>
      {% else %}
      <div class="tooltip"> ·
        <span class="tooltiptext">{{habits.uni}}</span>
      </div>
      {% endif %}
    </td>
</tr>
{% assign i = i | plus:1 %}

{% assign sum_slp = sum_slp | plus:habits.sleep %}
{% assign sum_read = sum_read | plus:habits.read %}
{% assign sum_chess = sum_chess | plus:habits.chess %}
{% assign sum_uni = sum_uni | plus:habits.uni %}
{% assign sum_scr = sum_scr | plus:habits.screentime %}
{% assign sum_walk = sum_walk | plus:habits.walk %}
{% assign sum_write = sum_write | plus:habits.write %}


{% endfor %}

{% assign i = i | minus:1 %}

{% assign avg_slp = sum_slp | divided_by:i %}
{% assign avg_slp = avg_slp | round: 1 %}

{% assign avg_scr = sum_scr | divided_by:i %}
{% assign avg_scr = avg_scr | round: 1 %}

{% assign avg_walk = sum_walk | divided_by:i %}
{% assign avg_walk = avg_walk | round: 1 %}

<tr class="total">
  <td></td>
  <td>{{ avg_slp }}</td>
  <td>·</td>
  <td>{{ avg_walk }}</td>
  <td>{{ sum_read }}</td>
  <td>{{ sum_chess }}</td>
  <td>·</td>
  <td>·</td>
  <td>·</td>
  <td>{{ avg_scr }}</td>
  <td>·</td>
  <td>{{ sum_write }}</td>
  <td>·</td>
  <td>·</td>
  <td>·</td>
  <td>{{ sum_uni }}</td>
</tr>
</table>
</div>
