---
layout: page
title: ""
description: "Lo más reciente"
---

<div class="w-100">

  <div class="logs">

    {% assign nrecords = site.data.log | size %}
    {% assign now_ts   = 'now' | date: '%s' | plus: 0 %}

    <ul>
      {% assign first = true %}
      {% assign i     = nrecords %}

      {% for log in site.data.log %}
        {% assign ts = log.timestamp | date: '%s' | plus: 0 %}

        {% if ts <= now_ts %}

          {% if first %}
            {% assign text_lc = log.text | downcase %}
            {% assign class_name = "" %}
            {% if text_lc contains '#status' %}
              {% assign class_name = "statuslog" %}
            {% elsif text_lc contains '#urgent' %}
              {% assign class_name = "urgentlog" %}
            {% endif %}

            <div class="lastlog {{ class_name }}">
              <a href="{{ log.link }}">
                <p>«{{ log.text }}» ▶</p>
              </a>
            </div>
            {% assign first = false %}
          {% endif %}

          {% assign item_class = "logitem" %}
            {% if log.cat == "gm" %}
              {% assign item_class = "logitemgm" %}
            {% endif %}
 
          <li class="{{item_class}}">
            <div class="tooltip">
              <span class="logid">[{{ i }}]</span>
              <span class="tooltiptext">{{ log.timestamp }}</span>
            </div>

            {% case log.cat %}
              {% when 'gm'       %}<span>☀️</span>
              {% when 'news'     %}<span>🗞️</span>
              {% when 'thought'  %}<span>💭</span>
              {% when 'read'     %}<span>📖</span>
              {% when 'write'    %}<span>📝</span>
              {% when 'podcast'  %}<span>🎧</span>
              {% when 'music'    %}<span>🎹</span>
              {% when 'video'    %}<span>📺</span>
              {% when 'work'     %}<span>📥</span>
              {% when 'quote'    %}<span>💬</span>
              {% when 'chess'    %}<span>♖</span>
              {% when 'movie'    %}<span>🍿</span>
            {% endcase %}

            <span class="logtext">{{ log.text }}</span>

            {% if log.link %}
              <span class="loglink">
                <a title="{{ log.timestamp }}" href="{{ log.link }}">→</a>
              </span>
            {% endif %}
          </li>

        {% endif %}

        {% assign i = i | minus: 1 %}
      {% endfor %}

    </ul>

  </div>

</div>
