---
layout: page
title: ""
description: "Recientemente..."
---

<div class="w-100">

<div class="logs">

{% assign nrecords = 0 %}
{% for log in site.data.log %}
  {% assign nrecords = nrecords | plus:1 %}
{% endfor %}

<ul>
  {% for post in site.posts limit:1 %}
    <li>📌&nbsp; <a class="post-title" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
    (<time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date: "%d.%m.%Y" }}</time>)
    <span class="loglink">
      <a href="{{ post.url }}">→</a>
    </span>
    </li>
    <li>&nbsp;</li>
  {% endfor %}

{% assign first = true %}
{% assign i = nrecords %}
{% for log in site.data.log %}
    {% if first %}
      <p class="lastlog">«{{ log.text }}» <a href="{{ log.link }}">→</a></p>
      {% assign first = false %}
    {% endif %}
      <li class="logitem">
        <div class="tooltip">
          <span class="logid">[{{ i }}]</span>
          <span class="tooltiptext">{{log.timestamp}}</span>
        </div>

      {% if log.cat == 'thought' %}
        <span>💭</span>
      {% endif %}
      {% if log.cat == 'read' %}
        <span>📖</span>
      {% endif %}
      {% if log.cat == 'write' %}
        <span>📝</span>
      {% endif %}
      {% if log.cat == 'podcast' %}
        <span>🎧</span>
      {% endif %}
      {% if log.cat == 'video' %}
        <span>📺</span>
      {% endif %}
      {% if log.cat == 'work' %}
        <span>📥</span>
      {% endif %}
      {% if log.cat == 'quote' %}
        <span>💬</span>
      {% endif %}
      {% if log.cat == 'chess' %}
        <span>♖</span>
      {% endif %}
      <span class="logtext">{{ log.text }}</span>

      {%if log.link %}
        <span class="loglink">
          <a title="{{ log.timestamp }}" href="{{ log.link }}">→</a>
        </span>
      </li>
      {% endif %}
      {% assign i = i | minus:1 %}
{% endfor %}
</ul>
</div>
</div
