---
layout: page
title: ""
description: "Rincón de lectura"
---

<h2>⭐️ Favoritos y recomendaciones</h2>

<div class="w-100">

<h2 class="year">★★★★★</h2>
<ol class="book-list">
{% for book in site.data.books %}
{% if book.fav == 'yes' %}
      <li>
        <a alt="{{ book.description }}" class="book-title" href="{{ book.link }}"><i>{{ book.title }}</i></a> de {{ book.author}}
      </li>
{% endif %}
{% endfor %}
</ol>
</div>

<div class="w-100">

<!--<h2 class="year">2022</h2>-->
<ol class="book-list-none">
{% for book in site.data.books %}
{% if book.completed == '2025' %}
      <li>
        {% if book.rating %}
        <span class="star-rating">
        {% for y in (1..book.rating) %}
        ★
        {% endfor %}
        {% for z in (book.rating..4) %}
        ☆
        {% endfor %}
        &nbsp;
        </span>
        {% endif %}
        <a alt="{{ book.description }}" class="book-title" href="{{ book.link }}"><i>{{ book.title }}</i></a> de {{ book.author}}
        {% if book.onpage %}
        {% assign progress = book.onpage | divided_by:book.pages | times:100 | round: 0 | append: '%' %}
          <span>{{ progress }}</span>
        {% endif %}      
      </li>
{% endif %}
{% endfor %}
</ol>
</div>

<hr/>

<div class="w-100">

<!--<h2 class="year">Últimas lecturas</h2>-->

{% assign y_start = 2024 %}
{% assign y_end = 2017 %}

{% assign years = y_start | minus: y_end %}
{% for n in (0..years) %}
{% assign ty = y_start | minus: n %}
<!--<h2 class="year">···</h2>-->
<ol class="book-list-none">
{% for book in site.data.books %}
{% if book.completed == ty %}
      <li>
        {% if book.rating %}
        <span class="star-rating">
        {% for y in (1..book.rating) %}
        ★
        {% endfor %}
        {% for z in (book.rating..4) %}
        ☆
        {% endfor %}
        &nbsp;
        </span>
        {% endif %}
        {% if book.onpage %}
        {% assign progress = book.onpage | times: 1.0 | divided_by:book.pages | times:100 | round: 0 | append: '%' %}
        <div class="tooltip">
          <span class="logid">📖</span>
          <span class="tooltiptext">{{progress}}</span>
        </div>
        {% endif %}
        <a alt="{{ book.description }}" class="book-title" href="{{ book.link }}"><i>{{ book.title }}</i></a> de {{ book.author}}
      
      </li>
{% endif %}
{% endfor %}
</ol>
{% if ty != 2022 %}
<hr/>
{% endif %}
{% endfor %}

</div>
