/* =========================
   Base / Design Tokens
========================= */
:root {
  /* Tipografía */
  /*--font-mono: "Courier New", Courier, monospace;*/
  --font-sans: Verdana, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Consolas, "Liberation Mono",
    "Courier New", monospace;

  --fs-base: 1em;
  --fs-sm: 0.9em;
  --fs-lg: 1.2rem;

  /* Colores (LIGHT por defecto) */
  --c-bg: #ffffff;
  --c-text: #111111;
  --c-accent: steelblue;
  --c-muted: #f0f0f0;
  --c-link: #2aa198;
  /*  --c-warn: #fff9c4;*/

  /* Borde (separado del texto) */
  --c-border: rgba(0, 0, 0, 0.6);

  /* Bordes / radios / sombras */
  --bd: 1px solid var(--c-border);
  --bd-sm: 1px solid var(--c-border);
  --radius: 5px;

  /* Espaciado y gaps */
  --sp-1: 5px;
  --sp-2: 8px;
  --sp-3: 10px;

  /* Alturas mínimas */
  --h-min-main: 70vh;
  --h-min-pane: 75vh;
  --h-min-footer: 10vh;

  /* Transiciones */
  --t-fast: 0.2s ease;
  --t-base: 0.4s ease;

  /* Indica a los UA que soportas ambos esquemas */
  color-scheme: light dark;

  --c-surface: #ffffff; /* fondo de controles */
}

/* Auto DARK según el sistema */
@media (prefers-color-scheme: dark) {
  :root {
    --c-bg: #111111;
    --c-text: #f5f5f5;
    --c-accent: #4da3ff;
    --c-muted: #222222;
    --c-border: rgba(255, 255, 255, 0.45);
    --c-surface: #1e1e1e; /* superficie oscura para inputs/selects */
  }
}

/* Overrides MANUALES (prioridad sobre lo anterior) */
:root[data-theme="light"] {
  --c-bg: #ffffff;
  --c-text: #111111;
  --c-accent: steelblue;
  --c-muted: #f0f0f0;
  --c-border: rgba(0, 0, 0, 0.6);
  --bg-mainbutton: #dcdcdc;
  color-scheme: light;
  --c-surface: #ffffff;
}
:root[data-theme="dark"] {
  --c-bg: #111111;
  --c-text: #f5f5f5;
  --c-accent: #4da3ff;
  --c-muted: #222222;
  /*--c-muted: #dcdcdc;*/
  --c-border: rgba(255, 255, 255, 0.45);
  --bg-mainbutton: #2f4f4f;
  color-scheme: dark;
  --c-surface: #1e1e1e;
}

/* =========================
   Uso base
========================= */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  /*font-family: var(--font-mono);*/
  font-family: var(--font-sans);
  font-size: var(--fs-base);
  color: var(--c-text);
  background: var(--c-bg);
  margin: 0;
}

.mono,
textarea,
pre,
code {
  font-family: var(--font-mono);
}

/* Headings más controlados */
h1,
h2,
h3 {
  font-family: var(--font-sans);
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0; /* evita “gordura” visual extra en Firefox */
}

h1 i {
  font-size: 0.9em;
  vertical-align: -0.05em;
}

a {
  color: var(--c-link);
  text-decoration: none;
}
