---
layout: default
---

<div class="post-container">
    {% assign statok = 0 %}
    {% for msg in site.data.log %}
    {% if msg.cat == 'status' and statok == 0 %}
        {% if msg.priority == 'urgent' %}
            <div class="post-list urgent">
        {% else %}
            <div class="post-list status">
        {% endif %}
        <a class="post-title" href="{{ msg.link }}">{{ msg.text }}</a>
        <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">Hace un rato</time>
    </div>
    {% assign statok = 1 %}
    {% endif %}
    {% endfor %}
	{% for post in paginator.posts %}
        <div class="post-list">
            <a class="post-title" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
            <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date: "%d.%m.%Y" }}</time>
        </div>
    {% endfor %}
</div>
{% include pagination.html %}
