{% case include.cat %}
  {% when 'gm'       %}☀️
  {% when 'gn'       %}🌙
  {% when 'code'     %}👨🏻‍💻
  {% when 'news'     %}🗞️
  {% when 'thought'  %}💭
  {% when 'read'     %}📖
  {% when 'write'    %}📝
  {% when 'learn'    %}🧠
  {% when 'podcast'  %}🎧
  {% when 'music'    %}🎹
  {% when 'video'    %}📺
  {% when 'work'     %}📥
  {% when 'quote'    %}💬
  {% when 'chess'    %}♟️
  {% when 'movie'    %}🍿
  {% when 'coffee'   %}☕️
  {% when 'lunch'    %}🍽️
  {% when 'done'     %}✅
  {% when 'photo'    %}📷
{% endcase %}
