<nav class="navmenu" id="main-menu">
  <a href="/">✏️</a>
  <a href="pages/log.html">💬</a>
  <a href="pages/bookshelf.html" data-submenu="bookshelf">📚</a>
  <a href="pages/photo.html">📷</a>
  <a href="pages/chess.html">♟️</a>
  <!--<a href="pages/goals.html">🏁</a>·-->
  <a href="pages/write.html" data-submenu="write">✍🏼</a>
   <!--<a href="pages/thanks.html">❤️</a>-->
  <!--
			<a href="http://www.ochoenpunto.com" target="_blank">🕗</a>·
			<a href="http://www.esferatic.com" target="_blank">👨🏻‍💻</a>
			-->
  <a href="pages/me.html" data-submenu="cv">💼</a>
  <a href="pages/me.html" data-submenu="me">👦🏻</a>
  <a href="pages/shop.html" data-submenu="shop">❤️</a>
</nav>

<div id="submenu"></div>

<!-- Submenús (ocultos por defecto) -->
<div class="navmenu sub" id="cv">
  <!--<a href="pages/cv.html">👦🏻</a>-->
  <a href="pages/cv_topics.html">🧭</a>
  <a href="pages/cv_work.html">💼</a>
  <a href="pages/cv_edu.html">🎓</a>
  <!--<a href="pages/cv_courses.html">📒</a>-->  
</div>

<div class="navmenu sub" id="me">
  <a href="pages/me.html">👦🏻</a>
  <a href="pages/me_watchlist.html">🍿</a>
  <a href="pages/me_music.html">🎵</a>
  <a href="pages/me_podcasts.html">🎧</a>
  <a href="pages/me_quotes.html">💬</a>
  <!--<a href="pages/me_goals.html">🏁</a>-->
  <a href="http://docs.ebenimeli.org" target="_blank">💾</a>
</div>

<!-- Submenús (ocultos por defecto) -->
<div class="navmenu sub" id="bookshelf">
  <!--<a href="pages/bookshelf.html">📓</a>-->
  <a href="pages/bookshelf_now.html">📖</a>
  <a href="pages/bookshelf_next.html">📚</a>
  <a href="pages/bookshelf_fav.html">⭐️</a>
</div>

<div class="navmenu sub" id="write">
  <a href="pages/write.html">✍🏼</a>
  <!--<a href="index.html">✏️</a>-->
  <a href="pages/write_ventana.html">🖥️</a>
  <a href="pages/write_alvuelo.html">🗒️</a>
  <a href="https://www.ochoenpunto.com" target="_blank">✅</a>
  <a href="https://www.esferatic.com" target="_blank">🎓</a>
</div>

<div class="navmenu sub" id="shop">
  <a href="pages/shop_fav.html">⭐️</a>
  <a href="pages/shop_tech.html">🖥️</a>
  <a href="pages/shop_chess.html">♟️</a>
  <a href="pages/shop_baby.html">👶🏻</a>
  <!--
	<a href="pages/shop_books">📚</a>
    -->
</div>
