<div id="iconlabel">Hola, mundo</div>
<nav class="navmenu" id="main-menu">
  <a href="/" data-label="Un blog personal">✏️</a>
  <a href="log/" data-label="Un simple log">💬</a>
  <a href="bookshelf/" data-submenu="bookshelf"  data-label="Lecturas">📚</a>
  <!--<a href="pages/goals.html">🏁</a>·-->
  <a href="write/" data-submenu="write" data-label="Cosas que escribo">✍🏼</a>
  <a href="cv/" data-submenu="cv" data-label="Trabajo y formación">💼</a>
  <a href="me/" data-submenu="me" data-label="Un rincón personal">👦🏻</a>
  <a href="now/" data-label="Lo que estoy haciendo ahora">🌱</a>
  <a href="shop/" data-submenu="shop" data-label="Favoritos y recomendaciones">❤️</a>
  <a href="games/" data-submenu="games" data-label="Juegos">🎮</a>

  <!--<a href="contact/">📧</a>-->
</nav>

<div id="submenu"></div>

<!-- Submenús (ocultos por defecto) -->
<div class="navmenu sub" id="cv">
  <!--<a href="pages/cv.html">👦🏻</a>-->
  <a href="pages/cv_topics.html" data-label="Temas de interés">🧭</a>
  <a href="pages/cv_work.html" data-label="Experiencia profesional">💼</a>
  <a href="pages/cv_edu.html" data-label="Formación">🎓</a>
  <!--<a href="pages/cv_courses.html">📒</a>-->  
</div>

<div class="navmenu sub" id="me">
  <a href="pages/me.html" data-label="Acerca de mí">👦🏻</a>
  <a href="pages/me_watchlist.html" data-label="Películas, series y documentales">🍿</a>
  <a href="pages/me_music.html" data-label="Un poco de música">🎵</a>
  <a href="pages/me_podcasts.html" data-label="Selección de podcasts">🎧</a>
  <a href="pages/me_photos.html" data-label="Algunas fotografías">📷</a>
  <a href="pages/me_chess.html" data-label="Rincón de ajedrez">♟️</a>
  <a href="pages/me_quotes.html" data-label="Algunas citas">💬</a>
  <!--<a href="pages/me_goals.html">🏁</a>-->
  <a href="http://docs.ebenimeli.org" target="_blank" data-label="Cajón de sastre">💾</a>
</div>

<div class="navmenu sub" id="bookshelf">
  <!--<a href="pages/bookshelf.html">📓</a>-->
  <a href="pages/bookshelf_now.html" data-label="Leyendo">📖</a>
  <a href="pages/bookshelf_next.html" data-label="Próximas lecturas">📚</a>
  <a href="pages/bookshelf_fav.html" data-label="Lecturas recomendadas">⭐️</a>
</div>

<div class="navmenu sub" id="write">
  <a href="pages/write.html" data-label="Cosas que escribo">✍🏼</a>
  <!--<a href="index.html">✏️</a>-->
  <a href="pages/write_ventana.html" data-label="Boletín «La ventana digital»">🖥️</a>
  <a href="pages/write_alvuelo.html" data-label="Notas al vuelo">🗒️</a>
  <a href="https://www.ochoenpunto.com" target="_blank" data-label="Blog Ocho en punto">✅</a>
  <a href="https://www.esferatic.com" target="_blank" data-label="Blog Esfera TIC">🎓</a>
  <a href="pages/write_book.html" data-label="Libro">📓</a>
</div>

<div class="navmenu sub" id="shop">
  <a href="pages/shop_fav.html" data-label="Selección de productos">⭐️</a>
  <a href="pages/shop_tech.html" data-label="Productos de tecnología">🖥️</a>
  <a href="pages/shop_chess.html" data-label="Productos de ajedrez">♟️</a>
  <a href="pages/shop_baby.html" data-label="Productos de bebé (0-3 años)">👶🏻</a>
  <!--
	<a href="pages/shop_books">📚</a>
    -->
</div>

<div class="navmenu sub" id="games">
  <a href="pages/games_snake.html"" data-label="Snake">🐍</a>
  <a href="pages/games_space.html" data-label="Space Invaders">👾</a>
  <a href="pages/games_pong.html" data-label="Pong!">🏓</a>
  <a href="pages/games_tictactoe.html" data-label="3 en raya">❌</a>
  <a href="pages/games_breakout.html" data-label="Breakout">🧱</a>
  <a href="pages/games_race.html" data-label="Carrera">🚗</a>
  <a href="pages/games_maze.html" data-label="Laberinto">🌀</a>
  <!--<a href="pages/games_pacman.html" data-label="Pac-Man!">🕹️</a>-->
</div>

<script src="assets/js/iconlabel.js"></script>
